# تجاهل البيئة الافتراضية (بكل أشكالها)
venv/
.venv/
*/venv/
*/.venv/

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل قاعدة بيانات جانغو (بكل أشكالها)
db.sqlite3
*.sqlite3

# تجاهل ملفات النظام (زي ماك)
.DS_Store